<div class="container">

    <form #clienteForm="ngForm" autocomplete="off" (ngSubmit)="salvar(clienteForm)">

      <div class="p-grid">
        <div class="p-col-12">
          <h1>{{ editando ? 'Editar' : 'Novo' }} Cliente</h1>
        </div>

        <div class="p-col-12">
            <p-selectButton [options]="tipos" #tipo name="tipo" [(ngModel)]="cliente.tipo"></p-selectButton>
        </div>

        <div class="p-col-12 p-md-9 p-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome" [(ngModel)]="cliente.nome" #nome="ngModel" required>
          <app-message [control]="nome.control" error="required" text="Campo obrigatório"></app-message>
        </div>

        <div class="p-col-12 p-fluid">
          <label>{{ tipo.value === 'PF' ? 'CPF' : 'CNPJ' }}</label>
          <p-inputMask name="cpfCnpj" [(ngModel)]="cliente.cpfCnpj" #cpfCnpj="ngModel" [required]="true" [mask]="tipo.value === 'PJ' ? '99.999.999/9999-99' : '999.999.999-99'"></p-inputMask>
          <!-- <input pInputText type="text" name="cpfCnpj" [(ngModel)]="cliente.cpfCnpj" #cpfCnpj="ngModel" required> -->
          <app-message [control]="cpfCnpj.control" error="required" text="Campo obrigatório"></app-message>
        </div>

        <div class="p-col-12 p-fluid">
          <label>{{ tipo.value === 'PF' ? 'RG' : 'IE' }}</label>
          <input pInputText type="text" name="rgIe" [(ngModel)]="cliente.rgIe" #rgIe="ngModel">
        </div>

        <div class="p-col-12 p-fluid">
          <label>Ativo</label>
          <p-checkbox name="ativo" [(ngModel)]="cliente.ativo" [binary]="true" inputId="binary"></p-checkbox>
        </div>

        <div class="p-col-12">
          <button pButton type="submit" label="Salvar" [disabled]="clienteForm.invalid"></button>
          <button pButton type="button" label="Novo" class="p-button-info" (click)="nova(clienteForm)"></button>
          <a pButton label="Novo telefone" [routerLink]="['/clientes', cliente.id, 'telefone']" [ngClass]="{'disabled-link': cliente.id == 0}"></a>
          <a [routerLink]="['/clientes']">Voltar para a pesquisa</a>
        </div>
      </div>

    </form>

    <div class="p-col-12">
      <p-table [value]="cliente.telefones" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Telefones</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-telefone>
          <tr>
            <td>
              <span class="p-column-title">Telefones</span>
              {{ telefone.numero }}
            </td>
            <td class="col-acoes">
              <span class="p-column-title"></span>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmaExclusao(telefone)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhum telefone cadastrado!
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
