/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.cadastro-acoes .p-button {
  margin-right: 5px;
}

button.p-button {
  margin: 0 2px;
}

/* .disabled-link {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
} */

.lista-telefones > a {
  text-decoration: none;
}

.lista-telefones--oculta {
  display: none;
  visibility: hidden;
}
